.overview-picture {
  background-image: url(../img/overview.jpg);
}

.workbook-picture {
  background-image: url(../img/workbook.jpg);
}

.feedback-picture {
  background-image: url(../img/feedback.jpg);
}

.feature-picture {
  background-image: url(../img/feature.jpg);
}

.dreams-picture {
  background-image: url(../img/dreams.jpg);
}
